@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header{
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
}

#navbar li{
  padding: 0 20px;
}

#navbar li a{
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background: #088178;
  bottom: -4px;
  left: 20px;
}